.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px;
}

.header > form {
  width: 100%;
  max-width: 400px;
}

.task_input {
  font-size: 16px;
  font-weight: 500;
  background: #f9f9f9;
  color: #000;
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.task_input::placeholder {
  font-size: 14px;
  color: #686868;
}

.task_form_bottom_line {
  display: flex;
  flex-direction: column;
}

.task_status {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #999;
  border-radius: 5px;
  width: 65%;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 10px;
}

.task_submit {
  font-size: 14px;
  font-weight: 500;
  background-color: #6457f9;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 40px;
  padding: 3px 13px;
  margin-left: 10px;
  cursor: pointer;
}

.task_submit:hover {
  background-color: #1303ba;
}

.current_date {
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .header > form {
    width: 80%;
  }
  .task_input {
    margin-top: 30px;
    padding: 10px;
  }
  .task_status {
    width: 100%;
  }
  .task_submit {
    width: 100%;
    margin: 0;
  }
  .current_date {
    margin: 5px;
    font-size: 14px;
  }
}
