.task_card {
  width: 100%;
  min-height: auto;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.task_text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.task_card_bottom_line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.task_delete,
.task_done {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.complete_icon {
  font-size: 18px;
  color: #09b409;
}

.task_delete:hover,
.task_done:hover {
  background-color: #ebebeb;
}

.delete_icon,
.complete_icon {
  width: 20px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon,
.task_done:hover .complete_icon {
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .task_card {
    padding: 8px;
    margin: 8px 0;
  }

  .task_text {
    font-size: 16px;
  }

  .task_delete,
  .task_done {
    width: 30px;
    height: 30px;
  }

  .complete_icon {
    font-size: 16px;
  }
}
