.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.count {
  margin-left: 10px;
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  .count {
    width: 30px;
    font-size: 12px;
  }
}
